<h1>Доступ только по пин-коду</h1>

  <%= form_tag(event_path(@event), method: 'post', data: { turbo: false }) do |f| %>
  <div class="form-group">
    <%= label t('views.events.pincode'), :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag t('submit.save'), class: 'btn btn-secondary mt-2 mb-2' %>
  </div>

<% end %>

<%= link_to t('path.root_path'), events_path %>
