<h1><%= t '.title' %></h1>

<%= image_tag(@event.photos.last.photo.url,  size: '350x200') %>

<p><%= t '.author' %>: <strong><%= @name.capitalize %></strong></p>

<hr/>

<p><%= t '.event' %>: <strong><%= link_to @event.title, @event %></strong></p>

<p><%= t '.datetime' %>: <strong><%= l @event.datetime %></strong></p>

<p><%= t '.owner' %>: <strong><%= @event.user.name %></strong></p>
